<%= form_with(model: treatment) do |form| %>
  <% if treatment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(treatment.errors.count, "error") %> prohibited this treatment from being saved:</h2>

      <ul>
        <% treatment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :treatment_type, style: "display: block" %>
    <%= form.number_field :treatment_type %>
  </div>

  <div>
    <%= form.label :start_date, style: "display: block" %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date, style: "display: block" %>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.number_field :duration %>
  </div>

  <div>
    <%= form.label :tooth_status_id, style: "display: block" %>
    <%= form.text_field :tooth_status_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
