<div id="<%= dom_id treatment %>">
  <p>
    <strong>Treatment type:</strong>
    <%= treatment.treatment_type %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= treatment.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= treatment.end_date %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= treatment.duration %>
  </p>

  <p>
    <strong>Tooth status:</strong>
    <%= treatment.tooth_status_id %>
  </p>

</div>
