<%= form_with(model: tooth) do |form| %>
  <% if tooth.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tooth.errors.count, "error") %> prohibited this tooth from being saved:</h2>

      <ul>
        <% tooth.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :position, style: "display: block" %>
    <%= form.number_field :position %>
  </div>

  <div>
    <%= form.label :tooth_type, style: "display: block" %>
    <%= form.number_field :tooth_type %>
  </div>

  <div>
    <%= form.label :number, style: "display: block" %>
    <%= form.number_field :number %>
  </div>

  <div>
    <%= form.label :odontogram_id, style: "display: block" %>
    <%= form.text_field :odontogram_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
