<div id="<%= dom_id tooth %>">
  <p>
    <strong>Position:</strong>
    <%= tooth.position %>
  </p>

  <p>
    <strong>Tooth type:</strong>
    <%= tooth.tooth_type %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= tooth.number %>
  </p>

  <p>
    <strong>Odontogram:</strong>
    <%= tooth.odontogram_id %>
  </p>

</div>
