<div id="<%= dom_id tooth_status %>">
  <p>
    <strong>Current treatment:</strong>
    <%= tooth_status.current_treatment %>
  </p>

  <p>
    <strong>Treatment history:</strong>
    <%= tooth_status.treatment_history %>
  </p>

  <p>
    <strong>Observations:</strong>
    <%= tooth_status.observations %>
  </p>

  <p>
    <strong>Tooth:</strong>
    <%= tooth_status.tooth_id %>
  </p>

</div>
