<div id="<%= dom_id patient %>">
  <p>
    <strong>Name:</strong>
    <%= patient.name %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= patient.birth_date %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= patient.sex %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= patient.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= patient.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= patient.address %>
  </p>

</div>
